body {
  background-color: #e3ebff;
  font-family: "Poppins", sans-serif;
}

.attral {
  width: 800px;
  top: 300px;
  left: 130px;
  position: relative;
}

.Poweredby {
  color: rgb(17, 54, 124);
  font-size: 28px;
  bottom: 30%;
  text-decoration: none;
  top: 850px;
  left: 330px;
  position: absolute;
}

.techbrain {
  font-weight: 600;
}

.signin-container {
  width: 650px;
  height: 820px;
  margin-top: -250px;
  margin-left: 1100px;
  padding: 50px 30px;
  background-color: #192a56;
  border-radius: 40px;
  text-align: center;
 
}
 

.tittle-signin {
  color: #e3ebff;
  margin-bottom: 40px;
  font-size: 50px;
  margin-top: 100px;
}

.input-box {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 20px;
  border-radius: 30px;
  border: none;
  background-color: #e3ebff;
  font-size: 20px;
}

.signup-button {
  width: 40%;
  padding: 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #e3ebff;
  font-size: 20px;
  margin-top: 10px;
}

.or-signup {
  color: #e3ebff;
  font-size: 25px;
  margin: 20px;
}

.social-icon {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-left: 0px;
}

.social-icon img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.already {
  font-size: 25px;
  margin-top: 80px;
  position: absolute;
  margin-right: -120px;
  margin-left: -150px;
  color: #e3ebff;
}

.signin {
  color: #e3ebff;
  text-decoration: none;
  font-weight: 600;
}

 
@media (max-width: 1440px) {
  .signin-container {
    width: 600px;
    padding: 40px 20px;
    margin-left: 800px;
    height: 810px;
    margin-top: -220px;
  }

  .attral {
    width: 600px;
    top: 300px;
    left: 100px;
  }
  .h1 {
    font-size: px;
  }
  .Poweredby {
    font-size: 25px;
    text-decoration: none;
    top: 750px;
    left: 200px;
    position: absolute;
  }

  .signup-button {
    font-size: 25px;
    border-radius: 30px;
  }

  input {
    font-size: 18px;
    border-radius: 30px;
  }
  .or-signup {
    font-size: 30px;
  }

  .social-icon img {
    width: 50px;
    height: 50px;
  }
  .already {
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  .signin-container {
    width: 500px;
    height: 780px;
    padding: 40px 20px;
    margin-top: -120px;
    margin-right: -600px;
    margin-left: 500px;
  }

  .attral {
    width: 380px;
    top: 320px;
    left: 40px;
  }
  .Poweredby {
    font-size: 18px;
    text-decoration: none;
    top: 770px;
    left: 100px;
    position: absolute;
  }

  .signup-button {
    font-size: 20px;
  }

  input {
    font-size: 15px;
  }
  .or-signup {
    font-size: 20px;
  }

  .social-icon img {
    width: 40px;
    height: 40px;
  }
   .already {
  font-size: 20px;
  }
}

@media (max-width: 768px) {
  .signin-container {
    width: 500px;
    height: 680px;
    padding: 30px 20px;
    margin-top: 30px;
    margin-left: 130px;
  }

  .attral {
    width: 200px;
    top: 20px;
    left: 280px;
  }
  .Poweredby {
    font-size: 15px;
    text-decoration: none;
    top: 810px;
    left: 270px;
    
  }
   .tittle-signin{
   font-size: 30px;
  
  }

  .signup-button {
    font-size: 14px;
  }

  input {
    font-size: 13px;
    padding: 15px;
     
  }

  .social-icon img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .signin-container {
    width: 400px;
    height: 650px;
    margin-left: 14px;
    margin-top: 50px;
  }
  .attral {
    width: 250px;
    top: 20px;
    left: 90px;
  }
  .Poweredby {
    font-size: 17px;
    margin-left: -190px;
    margin-top: 10px;
  }
.tittle-signin {
  
 
  font-size: 30px;
 margin-top: 100px;
  }

  input {
    
    padding: 15px;
    border-radius: 30px;
    font-size: 15px;
  }

  .signup-button {
    font-size: 15px;
    padding: 15px;
  }
  .or-signup {
    font-size: 17px;
  }

  .social-icon {
    margin-left: 0px;
    margin-top: 30px;
  }

  .social-icon img {
    width: 30px;
    height: 30px;
  }

  .already {
    font-size: 15px;
    margin-left: -120px;
    margin-top: 60px;
  }


}

@media (max-width: 375px) {
  .signin-container {
    width: 350px;
    margin-top: 60px;
    height: 620px;
    margin-left: 13px;
  }
  .attral {
    width: 200px;
    top: 20px;
    left: 90px;
  }
  .Poweredby {
    font-size: 15px;
    margin-left: -200px;
    margin-top: -10px;
  }

.tittle-signin {
 
  margin-bottom: 40px;
  font-size: 25px;
  margin-top: 120px;
  }

  .input-box {
    padding: 4px;
    margin-bottom: 10px;
  }

  input {
    width: 90%;
    padding: 13px;
    border-radius: 30px;
    border: none;
    font-size: 13px;
  }

  .signup-button {
    font-size: 15px;
    padding: 10px;
  }
  .or-signup {
    font-size: 14px;
  }

  .social-icon {
    margin-left: 5px;
    margin-top: 30px;
  }
  .social-icon img {
    width: 30px;
    height: 30px;
  }

  .already {
    font-size: 14px;
    margin-left: -130px;
  }


}

@media (max-width: 320px) {
  .signin-container {
    width: 300px;
    margin-top: 80px;
    height: 590px;
    margin-left: 10px;
  }
  .attral {
    width: 200px;
    top: 50px;
    left: 60px;
  }
  .Poweredby {
    font-size: 15px;
    padding-right: 10px;
    margin-left: -230px;
 
  }

.tittle-signin {
  color: #e3ebff;
  margin-bottom: 40px;
  font-size: 20px;
  margin-top: 100px;
  }

  .input-box {
    padding: 2px;
    margin-bottom: 10px;
  }

  input {
    width: 90%;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-size: 13px;
  }
  .signup-button {
    font-size: 12px;
    padding: 8px;
  }
  .or-signup {
    font-size: 12px;
    margin-top: 30px;
  }

  .social-icon {
    margin-left: 6px;
    gap: 15px;
  }
  .social-icon img {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    
  }

  .already {
    margin-top: 70px;
    font-size: 12px;
    margin-left: -120px;
  }

 
}
