 body {
  background-color: #00030c;
  font-family: "Poppins", sans-serif;
}


.signup-attral{
  width: 200px;
  top: 100px;
  left: 400px;
  position: relative;
}

a.signup-Poweredby  {
  color: rgb(17, 54, 124);
  font-size: 15px;
  text-decoration: none;
  top: 750px;
  left: 500px;
  position: absolute;
}

.signup-techbrain {
  font-weight: 600;
}
.signup-container {
  width: 650px;
  height: 830px;
  margin-top: -200px;
  margin-left: 1100px;
  padding: 50px 30px;
  background-color: #192a56;
  border-radius: 40px;
  text-align: center;
}
 

h1 {
  margin-top: -20px;
  margin-bottom: 50px;
  font-size: 50px;
  color: #ffffff;
}

.signup-input-box {
  margin-top: 10px;
  
}
.input-box{
  
  padding: 5px;
}
 input {
  
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #e3ebff;
  font-size: 14px;
}

.signup-button {
  width: 40%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #e3ebff;
  font-size: 15px;
  margin-top: 10px;
}

.or-signup {
  color: #e3ebff;
  font-size: 15px;
  margin: 20px;
}

.signup-social-icon {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-left: 80px;
}

.signup-social-icon img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.already {
  font-size: 15px;
  margin-top: 20px;
  margin-left: -190px;
  color: #e3ebff;
}

.signin {
  color: #e3ebff;
  text-decoration: none;
  font-weight: 600;
}
.error{
  color: red;
  font-size: 14px;
 
}

 
@media (max-width: 1440px) {
.signup-container{
    width: 600px;
    padding: 40px 20px;
    margin-left: 800px;
    height: 810px;
    margin-top: -180px;
  }

  .signup-attral {
    width: 600px;
    top: 350px;
    left: 80px;
  }
  .signup-Poweredby {
    font-size: 20px;
    text-decoration: none;
    top: 670px;
    left: 360px;
    position: absolute;
  }

  .signup-button {
    font-size: 18px;
  }

   input {
    
    font-size: 18px;
    border-radius: 30px;
  }

  .signup-social-icon img {
    width: 22px;
    height: 22px;
  }
  .already{
    margin-top: 30px;
  }
   
  
}

@media (max-width: 1024px) {
.signup-container {
    width: 500px;
    height: 780px;
    padding: 40px 20px;
    margin-top: -120px;
    margin-right: -600px;
    margin-left: 500px;
  }

  .signup-attral {
    width: 350px;
    top: 320px;
    left: 150px;
  }
  .signup-Poweredby {
    font-size: 20px;
    text-decoration: none;
    top: 640px;
    left: 150px;
    position: absolute;
  }

  .signup-button {
    font-size: 18px;
  }

  .signup-input {
    font-size: 13px;
  }

  .signup-social-icon img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
.signup-container{
    width: 500px;
    height: 680px;
    padding: 30px 20px;
    margin-top: 30px;
    margin-left: 130px;
  }

  .signup-attral {
    width: 200px;
    top: 20px;
    left: 250px;
  }
  .signup-Poweredby {
    font-size: 15px;
    text-decoration: none;
    top: 750px;
    left: 270px;
    
  }
  .signup-tittle {  
  font-size: 30px;

  
  }

  .signup-button {
    font-size: 14px;
  }

   input {
    font-size: 13px;
    padding: 10px;
     
  }

  .signup-social-icon img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
.signup-container {
    width: 400px;
    height: 650px;
    margin-top: 50px;
    margin-left: 14px;
  }
  .signup-attral {
    width: 100px;
    top: 60px;
    left: 150px;
  }
  .signup-Poweredby {
    font-size: 12px;
    margin-left: -100px;
     
  }
 .signup-tittle {
 
  margin-top: 0px;
  font-size: 30px;
 
  }
  .signup-input-box {
  margin-bottom: 10px;
  }

 input {
  width: 90%;
  padding: 1px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  }

  .signup-button {
    font-size: 15px;
    padding: 15px;
  }
  .or-signup {
    font-size: 12px;
  }

  .signup-social-icon {
    margin-left: 50px;
  }
  .signup-social-icon img {
    width: 20px;
    height: 20px;
  }

  .already {
    font-size: 11px;
    margin-left: -150px;
  }


}

@media (max-width: 375px) {
.signup-container{
    width: 350px;
    height: 620px;
    margin-top: 60px;
    margin-left: 13px;
  }
  .signup-attral {
    width: 100px;
    top: 60px;
    left: 140px;
  }
  .signup-Poweredby {
    font-size: 10px;
    margin-left: -110px;
    margin-top: -180px;
  }

.signup-tittle  {
 
  margin-bottom: 40px;
  font-size: 20px;
  margin-top: 10px;
   
  }
  
  .signup-input-box {
    padding: -20px;
    margin-bottom: 10px;
  }

 input {
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    border: none; 
    font-size: 10px;
  }

  .signup-button {
    font-size: 10px;
    padding: 5px;
  }
  .or-signup {
    font-size: 10px;
  }

  .signup-social-icon {
    margin-left: 40px;

  }
  .signup-social-icon img {
    width: 18px;
    height: 18px;
  }

  .already {
    font-size: 10px;
    margin-left: -150px;
    
  }


}

@media (max-width: 320px) {
.signup-container{
    width: 300px;
    height: 690px;
    margin-top: 80px;
    margin-left:10px;
    
  }
  .signup-attral {
    width: 1px;
    top: 60px;
    left: 150px;
  }
  .Poweredby {
    font-size: 8px;
    
    margin-left: -120px;
    margin-top: -220px;
  }

.tittle-signup{
 
    font-size: 15px;
  }

  input {
    font-size: 8px;
    margin-top: -10px;

  }
  .input-box {
 
    margin-bottom: 10px;
  }

  .signup-button {
    font-size: 8px;
    padding: 5px;
  }
  .or-signup {
    font-size: 10px;
  }
  
   .signup-social-icon {
    margin-left: 30px;
    gap: 10px;
  }
   .signup-social-icon img {
    width: 15px;
    height: 15px;
    margin-bottom: 20px;
    
  }

  .already {
    font-size: 8px;
    right: 180px;
  }

 .error{
  color: rgb(47, 202, 189);
  font-size: 11px;
     
  
}
}
